@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --light-red-txt: hsl(356, 100%, 66%);
  --light-red-bg: hsl(355, 100%, 74%);
  --dark-blue-h: hsl(208, 49%, 24%);
  --white-txt: hsl(0, 0%, 100%);
  --gray-blue-footer-txt: hsl(240, 2%, 79%);
  --dark-gray-blue-body: hsl(207, 13%, 34%);
  --dark-black-blue-footer-bg: hsl(240, 10%, 16%);
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --dark-gray-blue: hsl(237, 17%, 21%);
  --dark-des-blue: hsl(237, 23%, 32%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Overpass, Ubuntu, "Courier New", Courier, monospace;
  font-size: 16px;
}

nav {
  background-color: var(--light-red-bg);
  border-bottom-left-radius: 4.5em;
}
nav .nav-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}
nav .nav-bottom > div:last-child {
  display: flex;
}
nav .nav-bottom > div:last-child .start-free,
nav .nav-bottom > div:last-child .learn-more {
  border: 1px solid var(--white-txt);
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
}

.section-one {
  max-width: 90%;
  margin-left: auto;
  margin-top: 12rem;
}
.section-one h1 {
  font-size: 2em;
  color: var(--dark-blue-h);
  text-align: center;
  margin-bottom: -9rem;
  margin-right: 10em;
}

.section-one > div {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}
.section-one > div .section-one-left {
  max-width: 42%;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
}
.section-one > div .section-one-left div h2 {
  color: var(--dark-blue-h);
}
.section-one > div .section-one-left div p {
  font-size: 15px;
  word-spacing: 0.15em;
  margin-top: 1.5em;
  color: #666666;
}
.section-one > div .illustration-editor {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 925px;
  height: 882px;
}

.section-2 {
  display: flex;
  position: relative;
}

.section-2 > svg {
  position: absolute;
  left: 5rem;
  z-index: 5;
}

.section-two {
  position: relative;
  background-color: var(--dark-gray-blue);
  border-top-right-radius: 4.5em;
  border-bottom-left-radius: 4.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
  margin-top: 4em;
  overflow: hidden;
}
.section-two div {
  max-width: 40%;
  margin-right: 8em;
}
.section-two div h2 {
  font-size: 2em;
  color: var(--white-txt);
}
.section-two div p {
  margin-top: 1em;
  word-spacing: 0.15em;
  font-size: 15px;
  color: #cccccc;
  line-height: 1.5em;
}

.section-two::after {
  content: "";
  position: absolute;
  top: -30rem;
  left: -13.5rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1014px;
  height: 1018px;
  z-index: 1;
}

.section-three {
  margin-top: 2em;
  max-width: 90%;
  display: flex;
  align-items: center;
  column-gap: 1em;
}
.section-three .illustration {
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 974px;
  height: 786px;
}
.section-three .right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
}
.section-three .right h2 {
  font-size: 2em;
  color: var(--dark-blue-h);
}
.section-three .right p {
  margin-top: 1em;
  word-spacing: 0.15em;
  font-size: 15px;
  color: #666666;
  line-height: 1.5em;
}

footer {
  margin-top: 6em;
  background-color: var(--dark-black-blue-footer-bg);
  border-top-right-radius: 4.5em;
}
footer .footer-container {
  margin: auto;
  padding-top: 3rem;
  padding-right: 8em;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
footer .footer-container h3 {
  color: var(--white-txt);
  margin-bottom: 1.4em;
}
footer .footer-container ul li {
  margin-bottom: 1em;
  color: #999999;
  cursor: pointer;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
