@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --light-red-txt: hsl(356, 100%, 66%);
  --light-red-bg: hsl(355, 100%, 74%);
  --dark-blue-h: hsl(208, 49%, 24%);
  --white-txt: hsl(0, 0%, 100%);
  --gray-blue-footer-txt: hsl(240, 2%, 79%);
  --dark-gray-blue-body: hsl(207, 13%, 34%);
  --dark-black-blue-footer-bg: hsl(240, 10%, 16%);
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --dark-gray-blue: hsl(237, 17%, 21%);
  --dark-des-blue: hsl(237, 23%, 32%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Overpass, Ubuntu, "Courier New", Courier, monospace;
  font-size: 16px;
}

nav {
  position: relative;
  background: linear-gradient(50deg, var(--very-light-red), var(--light-red));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 80vh;
  border-bottom-left-radius: 4.5em;
  color: var(--white-txt);
  padding-top: 3rem;
  opacity: 0.99;
  overflow: hidden;
}
nav .nav-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 80%;
  margin: auto;
}
nav .nav-top .signup {
  padding: 0.5em 1.4em;
  border: none;
  outline: none;
  background-color: var(--white-txt);
  color: var(--light-red-txt);
  border-radius: 1.2em;
}
nav .nav-top .signup:hover {
  background-color: var(--light-red-bg);
  color: var(--white-txt);
}
nav .nav-top .top-left {
  cursor: pointer;
  margin-right: 2em;
}
nav ul {
  margin-left: 4em;
  margin-top: 1em;
  margin-right: auto;
  list-style: none;
  display: flex;
  column-gap: 2em;
}
nav ul li {
  cursor: pointer;
  padding-bottom: 1em;
  font-weight: 600;
}
nav ul .product {
  position: relative;
  padding-right: 20px;
}
nav ul .product::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  background-image: url(../images/icon-arrow-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  transition: all 200ms;
}
nav ul .product:hover li {
  display: block;
}
nav ul .product:hover::after {
  transform: rotate(-180deg);
}
nav ul .product:hover > ul {
  height: 480%;
}
nav ul .company {
  position: relative;
  padding-right: 18px;
}
nav ul .company::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  background-image: url(../images/icon-arrow-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  transition: all 200ms;
}
nav ul .company:hover li {
  display: block;
}
nav ul .company:hover::after {
  transform: rotate(-180deg);
}
nav ul .company:hover > ul {
  height: 390%;
}
nav ul .connect {
  position: relative;
  padding-right: 17px;
}
nav ul .connect::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  background-image: url(../images/icon-arrow-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  transition: all 200ms;
}
nav ul .connect:hover li {
  display: block;
}
nav ul .connect:hover::after {
  transform: rotate(-180deg);
}
nav ul .connect:hover > ul {
  height: 320%;
}
nav ul ul {
  background-color: var(--white-txt);
  color: var(--dark-gray-blue-body);
  padding: 0.8em 0 1em 0;
  border-radius: 4px;
  position: absolute;
  top: 1em;
  left: -4em;
  height: 0;
  display: flex;
  flex-direction: column;
  transition: height 100ms;
}
nav ul ul li {
  display: none;
  cursor: pointer;
  padding: 0.6em 2em 0 1.2em;
}
nav ul ul li:hover {
  color: var(--dark-gray-blue);
}
nav .nav-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}
nav .nav-bottom > div:first-child {
  margin-top: 2em;
  font-size: 3em;
}
nav .nav-bottom > div:nth-of-type(2) {
  margin-bottom: 2em;
}
nav .nav-bottom > div:last-child {
  display: flex;
  margin-bottom: 7em;
  column-gap: 1em;
}
nav .nav-bottom > div:last-child .start-free,
nav .nav-bottom > div:last-child .learn-more {
  border: 1px solid var(--white-txt);
  padding: 0.5rem 1.4rem;
  border-radius: 2em;
  cursor: pointer;
  font-weight: 600;
}
nav .nav-bottom > div:last-child .start-free {
  background-color: var(--white-txt);
  color: var(--light-red-txt);
}
nav .nav-bottom > div:last-child .start-free:hover {
  background-color: var(--light-red-bg);
  color: var(--white-txt);
  border: none;
  outline: none;
}
nav .nav-bottom > div:last-child .learn-more:hover {
  background-color: var(--white-txt);
  color: var(--light-red-txt);
}

nav > svg {
  position: absolute;
  top: -200vh;
  left: -40vw;
  z-index: -1;
}

.section-one {
  max-width: 90%;
  margin-left: auto;
  margin-top: 9rem;
}
.section-one h1 {
  font-size: 2em;
  color: var(--dark-blue-h);
  text-align: center;
  margin-bottom: -9rem;
  margin-right: 10em;
}

.section-one > div {
  display: flex;
  align-items: center;
  column-gap: 5rem;
}
.section-one > div .section-one-left {
  max-width: 42%;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
}
.section-one > div .section-one-left div h2 {
  color: var(--dark-blue-h);
}
.section-one > div .section-one-left div p {
  font-size: 15px;
  word-spacing: 0.15em;
  margin-top: 1.5em;
  color: #666666;
}
.section-one > div .illustration-editor {
  background-image: url(../images/illustration-editor-desktop.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 925px;
  height: 882px;
}

.section-2 {
  display: flex;
  position: relative;
}

.section-2 > svg {
  position: absolute;
  left: 5rem;
  z-index: 5;
}

.section-two {
  position: relative;
  background-color: var(--dark-gray-blue);
  border-top-right-radius: 4.5em;
  border-bottom-left-radius: 4.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
  margin-top: 4em;
  overflow: hidden;
}
.section-two div {
  max-width: 40%;
  margin-right: 8em;
}
.section-two div h2 {
  font-size: 2em;
  color: var(--white-txt);
}
.section-two div p {
  margin-top: 1em;
  word-spacing: 0.15em;
  font-size: 15px;
  color: #cccccc;
  line-height: 1.5em;
}

.section-two::after {
  content: "";
  position: absolute;
  top: -30rem;
  left: -13.5rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1014px;
  height: 1018px;
  z-index: 1;
}

.section-three {
  margin-top: 2em;
  max-width: 90%;
  display: flex;
  align-items: center;
  column-gap: 1em;
}
.section-three .illustration {
  background-image: url(../images/illustration-laptop-desktop.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 974px;
  height: 786px;
}
.section-three .right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
}
.section-three .right h2 {
  font-size: 2em;
  color: var(--dark-blue-h);
}
.section-three .right p {
  margin-top: 1em;
  word-spacing: 0.15em;
  font-size: 15px;
  color: #666666;
  line-height: 1.5em;
}

footer {
  margin-top: 6em;
  background-color: var(--dark-black-blue-footer-bg);
  border-top-right-radius: 4.5em;
}
footer .footer-container {
  margin: auto;
  padding-top: 3rem;
  padding-right: 8em;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
footer .footer-container h3 {
  color: var(--white-txt);
  margin-bottom: 1.4em;
}
footer .footer-container ul li {
  margin-bottom: 1em;
  color: #999999;
  cursor: pointer;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
