body {
    font-family: Overpass, Ubuntu, 'Courier New', Courier, monospace;
    font-size: 16px;
}
nav{
    background-color: var(--light-red-bg);
    border-bottom-left-radius: 4.5em;
    .nav-bottom{
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        align-items: center;
    }
    .nav-bottom>div:last-child{
        display: flex;

        .start-free, .learn-more{
            border: 1px solid var(--white-txt);
            border-radius: 10px;
            padding: .2rem .4rem;
        }
    }
}
.section-one {
    max-width: 90%;
    margin-left: auto;

    h1 {
        text-align: center;
    }
}

.section-one>div {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    .section-one-left {
        max-width: 42%;
    }

    .illustration-editor {
        background-image: url(../images/illustration-editor-desktop.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 890px;
        height: 850px;
    }
}
.section-two{
    background-color: var(--dark-des-blue);
    border-top-right-radius: 4.5em;
    border-bottom-left-radius: 4.5em;
    display: flex;
    align-items: center;
}
.section-three {
    max-width: 90%;
    background-color: blue;
    display: flex;
    align-items: center;

    .illustration {
        background-color: black;
        background-image: url(../images/illustration-laptop-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 974px;
        height: 786px;
    }
}

footer {
    background-color: var(--dark-black-blue-footer-bg);
    border-top-right-radius: 4.5em;

    .footer-container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 80%;
    }
}