body {
    position: relative;
    font-family: Overpass, Ubuntu, 'Courier New', Courier, monospace;
    font-size: 16px;
}

nav {
    position: relative;
    background: linear-gradient(50deg, var(--very-light-red), var(--light-red));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 80vh;
    border-bottom-left-radius: 4.5em;
    color: var(--white-txt);
    padding-top: 3rem;
    opacity: .99;
    overflow: hidden;

    .humburger{
        display: none;
    }

    .nav-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 80%;
        margin: auto;

        .signup {
            padding: .5em 1.4em;
            border: none;
            outline: none;
            background-color: var(--white-txt);
            color: var(--light-red-txt);
            border-radius: 1.2em;
        }

        .signup:hover {
            background-color: var(--light-red-bg);
            color: var(--white-txt);
        }

        .top-left {
            cursor: pointer;
            margin-right: 2em;
            font-weight: 600;
        }
    }

    ul {
        margin-left: 4em;
        margin-top: 1em;
        margin-right: auto;
        list-style: none;
        display: flex;
        column-gap: 2em;

        li {
            cursor: pointer;
            padding-bottom: 1em;
            font-weight: 600;
        }

        .product {
            position: relative;
            padding-right: 20px;
        }

        .product::after {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            background-image: url(../images/icon-arrow-light.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10px;
            height: 7px;
            transition: all 200ms;
        }

        .product:hover {
            li {
                display: block;
            }
        }
        .product:hover::after{
            transform: rotate(-180deg);
        }

        .product:hover > ul{
            height: 480%;
        }

        .company {
            position: relative;
            padding-right: 18px;
        }

        .company::after {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            background-image: url(../images/icon-arrow-light.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10px;
            height: 7px;
            transition: all 200ms;
        }
        .company:hover{
            li{
                display: block;
            }
        }

        .company:hover::after{
            transform: rotate(-180deg);
        }
        .company:hover > ul{
            height: 390%;
        }

        .connect {
            position: relative;
            padding-right: 17px;
        }

        .connect::after {
            content: '';
            position: absolute;
            top: 6px;
            right: 0;
            background-image: url(../images/icon-arrow-light.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 10px;
            height: 7px;
            transition: all 200ms;
        }
        .connect:hover{
            li{
                display: block;
            }
        }

        .connect:hover::after{
            transform: rotate(-180deg);
        }

        .connect:hover > ul{
            height: 320%;
        }

        ul {
            background-color: var(--white-txt);
            color: var(--dark-gray-blue-body);
            padding: .8em 0 1em 0;
            border-radius: 4px;
            position: absolute;
            top: 1em;
            left: -4em;
            height: 0;
            display: flex;
            flex-direction: column;
            transition: height 100ms;

            li {
                display: none;
                cursor: pointer;
                padding: .6em 2em 0 1.2em;
            }
            li:hover{
                color: var(--dark-gray-blue);
            }
        }
    }

    .nav-bottom {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        align-items: center;
    }

    .nav-bottom>div:first-child {
        margin-top: 2em;
        font-size: 3em;
    }

    .nav-bottom>div:nth-of-type(2) {
        margin-bottom: 2em;
    }

    .nav-bottom>div:last-child {
        display: flex;
        margin-bottom: 7em;
        column-gap: 1em;

        .start-free,
        .learn-more {
            border: 1px solid var(--white-txt);
            padding: .5rem 1.4rem;
            border-radius: 2em;
            cursor: pointer;
            font-weight: 600;
        }

        .start-free {
            background-color: var(--white-txt);
            color: var(--light-red-txt);
        }

        .start-free:hover {
            background-color: var(--light-red-bg);
            color: var(--white-txt);
            border: none;
            outline: none;
        }

        .learn-more:hover {
            background-color: var(--white-txt);
            color: var(--light-red-txt);
        }
    }
}

nav>svg {
    position: absolute;
    top: -200vh;
    left: -40vw;
    z-index: -1;
}

.section-one {
    max-width: 90%;
    margin-left: auto;
    margin-top: 9rem;

    h1 {
        font-size: 2em;
        color: var(--dark-blue-h);
        text-align: center;
        margin-bottom: -9rem;
        margin-right: 10em;
    }
}

.section-one>div {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    @media screen and (max-width: 1166px) {
        column-gap: 1em;
    }

    .section-one-left {
        max-width: 42%;
        display: flex;
        flex-direction: column;
        row-gap: 4em;
        @media screen and (max-width: 1166px){
            max-width: 48%;
        }

        div {
            h2 {
                color: var(--dark-blue-h);
            }

            p {
                font-size: 15px;
                word-spacing: 0.15em;
                margin-top: 1.5em;
                color: hsl(0, 0%, 40%);
            }
        }
    }

    .illustration-editor {
        background-image: url(../images/illustration-editor-desktop.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 925px;
        height: 882px;
    }
}

.section-2 {
    display: flex;
    position: relative;
}

.section-2>svg {
    position: absolute;
    left: 5rem;
    z-index: 5;
    @media screen and (max-width: 1244px) {
        left: 2em;
    }
}

.section-two {
    position: relative;
    background-color: var(--dark-gray-blue);
    border-top-right-radius: 4.5em;
    border-bottom-left-radius: 4.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 60vh;
    margin-top: 4em;
    overflow: hidden;

    div {
        max-width: 40%;
        margin-right: 8em;
        @media screen and (max-width: 1244px) {
            max-width: 30%;
            margin-right: 2em;
        }

        h2 {
            font-size: 2em;
            color: var(--white-txt);
        }

        p {
            margin-top: 1em;
            word-spacing: 0.15em;
            font-size: 15px;
            color: hsl(0, 0%, 80%);
            line-height: 1.5em;
        }
    }
}

.section-two::after {
    content: '';
    position: absolute;
    top: -30rem;
    left: -13.5rem;
    background-image: url(../images/bg-pattern-circles.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1014px;
    height: 1018px;
    z-index: 1;
}

.section-three {
    margin-top: 8em;
    max-width: 90%;
    display: flex;
    align-items: center;

    .illustration {
        background-image: url(../images/illustration-laptop-desktop.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        width: 974px;
        height: 786px;
        @media screen and (max-width: 1166px) {
            width: 774px;
            height: 586px;
        }
    }

    .right {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;

        h2 {
            font-size: 2em;
            color: var(--dark-blue-h);
        }

        p {
            margin-top: 1em;
            word-spacing: 0.15em;
            font-size: 15px;
            color: hsl(0, 0%, 40%);
            line-height: 1.5em;
        }
    }
}

footer {
    margin-top: 6em;
    background-color: var(--dark-black-blue-footer-bg);
    border-top-right-radius: 4.5em;

    .footer-container {
        margin: auto;
        padding-top: 3rem;
        padding-right: 8em;
        display: flex;
        justify-content: space-between;
        max-width: 80%;

        h3 {
            color: var(--white-txt);
            margin-bottom: 1.4em;
        }

        ul {
            li {
                margin-bottom: 1em;
                color: hsl(0, 0%, 60%);
                cursor: pointer;
                list-style: none;
            }
        }
    }
}

@media screen and (max-width: 896px) {
    nav {
        position: relative;
        background: linear-gradient(50deg, var(--very-light-red), var(--light-red));
        background-position: center;
        max-width: 100%;
        padding-top: 3rem;

        .humburger{
            display: block;
        }
    
        .nav-top {
            display: none;
            align-items: center;
            justify-content: flex-end;
            max-width: 80%;
            margin: auto;
    
            .signup {
                padding: .5em 1.4em;
                border: none;
                outline: none;
                background-color: var(--white-txt);
                color: var(--light-red-txt);
                border-radius: 1.2em;
            }
    
            .signup:hover {
                background-color: var(--light-red-bg);
                color: var(--white-txt);
            }
    
            .top-left {
                cursor: pointer;
                margin-right: 2em;
                font-weight: 600;
            }
        }
    
        ul {
            margin-left: 4em;
            margin-top: 1em;
            margin-right: auto;
            list-style: none;
            display: flex;
            column-gap: 2em;
    
            li {
                cursor: pointer;
                padding-bottom: 1em;
                font-weight: 600;
            }
    
            .product {
                position: relative;
                padding-right: 20px;
            }
    
            .product::after {
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                background-image: url(../images/icon-arrow-light.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 10px;
                height: 7px;
                transition: all 200ms;
            }
    
            .product:hover {
                li {
                    display: block;
                }
            }
            .product:hover::after{
                transform: rotate(-180deg);
            }
    
            .product:hover > ul{
                height: 480%;
            }
    
            .company {
                position: relative;
                padding-right: 18px;
            }
    
            .company::after {
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                background-image: url(../images/icon-arrow-light.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 10px;
                height: 7px;
                transition: all 200ms;
            }
            .company:hover{
                li{
                    display: block;
                }
            }
    
            .company:hover::after{
                transform: rotate(-180deg);
            }
            .company:hover > ul{
                height: 390%;
            }
    
            .connect {
                position: relative;
                padding-right: 17px;
            }
    
            .connect::after {
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                background-image: url(../images/icon-arrow-light.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 10px;
                height: 7px;
                transition: all 200ms;
            }
            .connect:hover{
                li{
                    display: block;
                }
            }
    
            .connect:hover::after{
                transform: rotate(-180deg);
            }
    
            .connect:hover > ul{
                height: 320%;
            }
    
            ul {
                background-color: var(--white-txt);
                color: var(--dark-gray-blue-body);
                padding: .8em 0 1em 0;
                border-radius: 4px;
                position: absolute;
                top: 1em;
                left: -4em;
                height: 0;
                display: flex;
                flex-direction: column;
                transition: height 100ms;
    
                li {
                    display: none;
                    cursor: pointer;
                    padding: .6em 2em 0 1.2em;
                }
                li:hover{
                    color: var(--dark-gray-blue);
                }
            }
        }    
        .nav-bottom>div:first-child {
            text-align: center;
        }
    
        .nav-bottom>div:nth-of-type(2) {
            text-align: center;
        }
    }
    
    nav>svg {
        position: absolute;
        top: -200vh;
        left: -40vw;
        z-index: -1;
    }
    
    .section-one {
        margin: auto;
        margin-top: 5rem;
    
        h1 {
            margin-bottom: 5rem;
            margin-right: 0em;
        }
    }
    
    .section-one>div {
        flex-direction: column-reverse;
    
        .section-one-left {
            max-width: 90%;
            row-gap: 2em;
    
            div {
                h2 {
                    text-align: center;
                }
    
                p {
                    font-size: 18px;
                    text-align: center;
                }
            }
            div:last-child{
                margin-top: 0em;
            }
        }
    
        .illustration-editor {
            background-image: url(../images/illustration-editor-mobile.svg);
            background-position: center;
            max-width: 406px;
            height: 331px;
        }
    }
    
    .section-2 {
        flex-direction: column;
        align-items: center;
    }
    
    .section-2>svg {
        position: relative;
        top: 5rem;
        left: 0rem;
    }
    
    .section-two {
        align-items: center;
        justify-content: center;
        margin-top: -15em;
    
        div {
            max-width: 90%;
            margin: auto;
            margin-top: 20rem;
            z-index: 9;
    
            h2 {
                text-align: center;
            }
    
            p {
                font-size: 16px;
                text-align: center;
                margin-bottom: 3rem;
            }
        }
    }
    
    .section-two::after {
        top: -40rem;
        left: -6.5rem;
        background-image: url(../images/bg-pattern-circles.svg);
    }
    
    .section-three {
        margin: auto;
        margin-top: 4em;
        flex-direction: column;
    
        .illustration {
            background-image: url(../images/illustration-laptop-mobile.svg);
            background-position: center;
            width: 498px;
            height: 359px;
        }
    
        .right {
            max-width: 90%;
            text-align: center;
    
            p {
                font-size: 18px;
            }
        }
    }
    
    footer {
        .footer-container {
            text-align: center;
            padding-right: 0em;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 90%;
    
            h3 {
                margin-top: 3em;
                margin-bottom: 1.6em;
            }
    
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
    }
}